.sidebar {
  position: relative;

  &__ {
    &container {
      position: fixed;
      width: 220px;
      background-color: white;
      margin-top: 16px;

      @media screen and (max-width: 800px) {
        display: none;
      }
    }

    &menu {
      padding: 16px 0 16px 16px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      &__ {
        &label {
          font-weight: bold;
          padding: 0;
          margin: 0;
        }

        &list {
          list-style: none;
          margin-bottom: 8px;
        }

        &link {
          color: $gray;

          &--active {
            text-decoration: underline;
            color: $red;
          }

          &--primary {
            font-weight: bold;
            display: block;
          }
        }
      }
    }
  }
}
